In [13]:
# Elena Yatzeck homework Week 2 Savvy Coders DAP

# 6. Write a multi-line comment with your name, favorite food, and dream job on 3 different lines

'''
Elena Yatzeck
Baked Chicken
Business Intelligence Specialist
'''

12

ing Data Analytics
Learning Data Analytics and Python is great!
Learning Data Analytics and Python is Awesome!

In [14]:
# 7. Assign 5 different data types to 5 different variables. At least one datatype must be a string  

var1 = 1
var2 = 2.0
var3 = "I'm a string"
var4 = False
var5 = 1j

In [15]:
#    - Print the length of your string
print(len(var3))

12

In [16]:
#    - Print the index value of the 4th character in your string
print(var3[3])

In [17]:
# 8. Create a new variable called savvy, and assign it the string with this phrase "Learning Data Analytics and Python is Awesome!"
savvy = "Learning Data Analytics and Python is Awesome!"

In [18]:
#    - Return a range of characters that slices the above string from the beginning of  "ing" up to before "and"
print(savvy[5:24])

ing Data Analytics

In [19]:
#    - Replace "Awesome" with "great" in the string
print(savvy.replace("Awesome", "great"))

Learning Data Analytics and Python is great!

In [20]:
#    - Test and print the savvy string to see it contains "Python"
print(savvy)

Learning Data Analytics and Python is Awesome!

In [26]:
# 9. Create and assign 3 more variables called name, age and length using the multi-variable naming method
name, age, tall = "Elena", "10", "6"

In [28]:
#    - Format a new string called 'miniBio' using variables in curly brackets to complete this phrase... "Hi my name is (name), I am (tall) and (so) old today."
miniBio = "Hi, my name is " + name + ", I am " + tall + " tall, and "+ age+" old today"

In [29]:
#    - Print 'miniBio'
print(miniBio)

Hi, my name is Elena, I am 6 tall, and 10 old today

In [30]:
#     - Cast and print the age variable to a float
print(float(age))

10.0

In [41]:
#### Complex Data Types:

# 10. Create a list of at least 5 elements of mixed data types
myList = [var1, var2, var3, var4, var5]

#    - Replace a part of it with something else
myList[0] = 22

#    - Append or insert several more items to the list
myList.append("Zardok")
myList.append(2.6)

#    - Find and print the length of the list
print(len(myList))

7

In [65]:
#    - Extend your original list with the 2nd list sliced above
myList3 = myList + myList2

#    - Create a new list called "simList" containing at least 5 elements of the same data type, either string, integer, float, or Boolean
simList = ["one","two","three","four","five"]

#    - Sort "simList", and print the list
simList.sort()

#    - Copy the "simList" list to another 3rd list <== note from emy -- I didn't notice that we created a second list.  This is confusing.
simList3 = simList
print(simList3)

#    - Add the 2nd and 3rd lists together into a 4th list

['five', 'four', 'one', 'three', 'two']

In [1]:
# 11. Create a tuple of about 5 elements
tuple1 = ( 1, 2, 3, 4, 5)

#     - Multiply your tuple by 3 and save it to a new 2nd tuple
tuple2 = tuple1 * 3

#     - Access and print the 12th element from the 2nd tuple
print(tuple2[11])

#     - Sort the 2nd tuple and print it
sorted_ = tuple(sorted(tuple2))
print(sorted_)

#     - Copy 4 specific elements from your 2nd tuple to a new 3nd tuple
tuple3 = tuple2[0:4]

#     - Unpack the 3rd tuple into 4 variables and print these variables
t0 = tuple3[0]
t1 = tuple3[1]
t2 = tuple3[2]
t3 = tuple3[3]
print(t0)
print(t1)
print(t2)
print(t3)

#     - Create a 4th tuple with single item 50 and print this tuple
tuple4 = (50)

#     - Add the 2nd and 3rd tuple together into a 5th tuple and print the tuple
tuple5 = tuple2 + tuple3
print(tuple5)

# 12. Create a set of about 3 elements
#     - Add a list of fruits to the above set and print the result
#     - Add a car element to your set
#     - Create a 2nd set with a few odd items
#     - Save the union of 1st set and 2nd set to a 3rd set
#     - Pop an element from the 2nd set, and print the remainder of the set
#     - Clear the 1st set and print the result
#     - Discard an element, and remove another element from the 3rd set
#     - Print the remainder of the 3rd set

# 13. Create a dictionary with at least 5 values of different data types
#     - Print out 1 value
#     - Replace any one value in your dictionary with your name
#     - Add your favorite color to the dictionary
#     - Add a list, tuple or set to your dictionary
#     - Print a list of the dictionary keys
#     - Print a list of the dictionary values
#     - Copy your 1st dictionary into a 2nd dictionary
#     - Pop an item from the 2nd dictionary, and print the dictionary
#     - Remove all the elements from the 2nd dictionary and print the result

2
(1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5)
1
2
3
4
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4)