# Week 3 homework
# Elena Yatzeck

## Data Types:

Use markdown formatting for the following questions (e.g., bold lettering, bullet points, different font sizes, etc.):

* __What is an algorithm?__  An algorithm is a piece of code that performs some task.
* __Variable names may not start with certain characters - name two.__ anything not alphanumeric, plus also not numbers
* __What is a Semantic error?__ A semantic error is one that expresses something that can be run correctly in Python, but does not do what you intended.
* __What is the #1 rule of coding / debugging?__  Seems like that is a bit subjective.  I would say "assume nothing"
* __List 5 Python reserved words.__ 
    * True
    * False
    * break
    * global
    * while

## Open a code cell in your Jupyter Notebook and write the following code:

* Write a multi-line comment with your name, favorite food, and dream job on 3 different lines
* Assign 5 different data types to 5 different variables. At least one datatype must be a string
* Print the length of your string
* Print the index value of the 4th character in your string
* Create a new variable called savvy, and assign it the string with this phrase "Learning Data Analytics and Python is Awesome!"
* Return a range of characters that slices the above string from the beginning of "ing" up to before "and"
* Replace "Awesome" with "great" in the string
* Test and print the savvy string to see it contains "Python"
* Create and assign 3 more variables called name, age and length using the multi-variable naming method
* Format a new string called 'miniBio' using variables in curly brackets to complete this phrase... "Hi my name is (name), I am (tall) and (so) old today."
* Print 'miniBio'
* Cast and print the age variable to a float

In [1]:
'''
Elena Yatzeck
Baked Chicken
Business Intelligence Specialist
'''
var1 = 1
var2 = 2.0
var3 = "I'm a string"
var4 = False
var5 = 1j

print(len(var3))

print(var3[3])

savvy = "Learning Data Analytics and Python is Awesome!"

print(savvy[5:24])

print(savvy.replace("Awesome", "great"))

print(savvy)

name, age, tall = "Elena", "10", "6"
miniBio = "Hi, my name is " + name + ", I am " + tall + " tall, and "+ age+" old today"
print(miniBio)

print(float(age))

12

ing Data Analytics
Learning Data Analytics and Python is great!
Learning Data Analytics and Python is Awesome!
Hi, my name is Elena, I am 6 tall, and 10 old today
10.0

## Complex Data Types:

__Lists__
* Create a list of at least 5 elements of mixed data types
* Replace a part of it with something else
* Append or insert several more items to the list
* Find and print the length of the list
* Slice a sub-section of the 1st list, and save it to a different 2nd list
* Print the 2nd list
* Extend your original list with the 2nd list sliced above
* Create a new list called "simList" containing at least 5 elements of the same data type, either string, integer, float, or Boolean
* Sort "simList", and print the list
* Copy the "simList" list to another 3rd list
* Add the 2nd and 3rd lists together into a 4th list

In [13]:
myList = [var1, var2, var3, var4, var5]

myList[0] = 22

myList.append("Zardok")
myList.append(2.6)

print(len(myList))

myList2 = myList[2:5]
print(myList2)

myList3 = myList + myList2

simList = ["one","two","three","four","five"]

simList.sort()
print(simList)

simList3 = simList
print(type(simList2))

simList4 = simList + simList3
print(simList4)

7
["I'm a string", False, 1j]
['five', 'four', 'one', 'three', 'two']
<class 'NoneType'>
['five', 'four', 'one', 'three', 'two', 'five', 'four', 'one', 'three', 'two']

__Tuples__

* Create a tuple of about 5 elements
* Multiply your tuple by 3 and save it to a new 2nd tuple
* Access and print the 12th element from the 2nd tuple
* Sort the 2nd tuple and print it
* Copy 4 specific elements from your 2nd tuple to a new 3nd tuple
* Unpack the 3rd tuple into 4 variables and print these variables
* Create a 4th tuple with single item 50 and print this tuple
* Add the 2nd and 3rd tuple together into a 5th tuple and print the tuple

In [14]:
tuple1 = ( 1, 2, 3, 4, 5)

tuple2 = tuple1 * 3

print(tuple2[11])

sorted_ = tuple(sorted(tuple2))
print(sorted_)

tuple3 = tuple2[0:4]

t0 = tuple3[0]
t1 = tuple3[1]
t2 = tuple3[2]
t3 = tuple3[3]
print(t0)
print(t1)
print(t2)
print(t3)

tuple4 = (50)

tuple5 = tuple2 + tuple3
print(tuple5)

2
(1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5)
1
2
3
4
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4)

__Sets__
* Create a set of about 3 elements
* Add a list of fruits to the above set and print the result
* Add a car element to your set
* Create a 2nd set with a few odd items
* Save the union of 1st set and 2nd set to a 3rd set
* Pop an element from the 2nd set, and print the remainder of the set
* Clear the 1st set and print the result
* Discard an element, and remove another element from the 3rd set
* Print the remainder of the 3rd set

In [27]:
myset = {"apple", "banana", "cherry"}

myset.add("grape")
myset.add("grapefruit")
print(myset)

myset.add("Volvo")

myset2 = {"plate","fork","ladle" }

myset_union = myset.union(myset2)
print(myset_union)

myset2.remove("plate")
print(myset2)

myset.clear()
print(myset)

myset_union.remove("ladle")
myset_union.remove("Volvo")
print(myset_union)

{'apple', 'grapefruit', 'cherry', 'banana', 'grape'}
{'apple', 'ladle', 'fork', 'grapefruit', 'plate', 'Volvo', 'cherry', 'banana', 'grape'}
{'ladle', 'fork'}
set()
{'apple', 'fork', 'grapefruit', 'plate', 'cherry', 'banana', 'grape'}

__Dictionaries__
* Create a dictionary with at least 5 values of different data types
* Print out 1 value
* Replace any one value in your dictionary with your name
* Add your favorite color to the dictionary
* Add a list, tuple or set to your dictionary
* Print a list of the dictionary keys
* Print a list of the dictionary values
* Copy your 1st dictionary into a 2nd dictionary
* Pop an item from the 2nd dictionary, and print the dictionary
* Remove all the elements from the 2nd dictionary and print the result

In [44]:
my_information = {'name': 'Dionysia', 'age': 28, 'location': 'Athens', 'is_happy' : False, 'instrument' : 'lyre'}

print(my_information['name'])

my_information['name'] = 'Elena'

my_information['color'] = 'green'

my_information['pets'] = {'Marmie','Mikey'}

print(my_information.keys())

print(my_information.values())

dup_dict = my_information

dup_dict.pop('name')
print(dup_dict)

dup_dict.clear()
print(dup_dict)

Dionysia
dict_keys(['name', 'age', 'location', 'is_happy', 'instrument', 'color', 'pets'])
dict_values(['Elena', 28, 'Athens', False, 'lyre', 'green', {'Mikey', 'Marmie'}])
{'age': 28, 'location': 'Athens', 'is_happy': False, 'instrument': 'lyre', 'color': 'green', 'pets': {'Mikey', 'Marmie'}}
{}